name: release

on:
  push:
    tags:
    - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Validate shell scripts with shellcheck
      run: |
        sudo apt-get update && sudo apt-get install -y shellcheck
        ./helper.sh shlint
    - name: create release bundle
      run: ./helper.sh release 
    - name: create release
      uses: ncipollo/release-action@v1
      with:
        artifactErrorsFailBuild: true
        artifacts: "./mysys.tar.bz2"
        generateReleaseNotes: true
